

/* header top */

.headerTop{
    background: #252f38;
    padding-top: 10px;
}
.headerTop .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #3d5265;
    border: 1px solid #3d5265;
    border-radius: 50%;
    padding: 7px;
    width: 30px;
    height: 30px;

}
.headerTop .fa:hover{
    color: white;
    transform: scale(1.3);
}
.headerTop a{
    text-decoration: none;
    color: #3d5265;
}

.headerTop a:hover{
    color: #10bcf4;
    transform: scale(1.3);
}

.social, .socialLogin{
    text-align: center;
}

/* header top */

/* header */
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 13px;
}
.navbar-default .navbar-nav > li > a:hover {
    color:#10bcf4; 
}

.header .navbar-default {
    background-color: white;
    border-color: white;
}
.header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #10bcf4;
}
.header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
    border-color: #10bcf4;
}

.header a{
    color: #dedede;
    margin-right: 30px;
}
/* header */

/* navigacija */

.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    width: 100px;
    height: auto;
}
.navbar-default{
    background: white;
    border-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #10bcf4;
    margin-top: 35px;
}
.navbar-default .navbar-toggle {
    border-color: #10bcf4;
}
.navbar-default .navbar-toggle:hover{
    background: white;
}


/* navigacija */

/* header middle */

.headerMiddle{
    display: none;
    margin-top: 30px;
}
.headerMiddle .info p{
    color: #56697b;
}
.headerMiddle .info span{
    color: #10bcf4;
}

.headerMiddle a{
   color: #dedede; 
   text-decoration: none;
   margin-left: 5px;
}
.headerMiddle a:hover{
   color: #10bcf4; 
   
}
.headerMiddle .fa-phone{
    color: #10bcf4;
    border: 1px solid #10bcf4;
    border-radius: 50%;
    padding: 7px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin-left: 15px;
    padding: 12px;
}
.headerMiddle .fa-phone:hover{
    transform: scale(1.3);
}


.contentFooter p{
    color: #10bcf4;
    display: inline;
    margin-left: 5px;
}
.contentFooter .cart{
    color: #10bcf4;
    border: 1px solid #10bcf4;
    border-radius: 50%;
    padding: 7px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin-left: 15px;
    padding: 12px;
}
.contentFooter .cart:hover{
    transform: scale(1.3);
}
.phone{
    display: inline-block;
}
.info{
    display: inline-block;
}
/* header middle */

/* about me */
.aboutMe{
    background-image: url('style/aboutMe.png')
}
.aboutMe h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.aboutMe a{
    color: #10bcf4;
    text-decoration: none;
}
.aboutMe a:hover{
    color: white;
}


/* about me */